.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 300px;
    border-radius: 5px;
    padding: 16px;
    background-color: #f9f9f9;
    margin: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card img{
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: auto;
    margin-bottom: 16px;
    object-fit: cover;
}

.card h2 {
    font-size: 1.5em;
    margin: 0;
    color: #333;
}

.card p {
    font-size: 1em;
    color: #666;
    margin: 8px 0 0 0;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 16px;
}